body {
  background: yellow;
}

/*@media screen and (min-width: 900px) {
  body {
    background: url('./large-background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
*/

@media all and (min-width: 1024px) { 
  body {
    background: url('/large-background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
  body {
    background: url('/medium-background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
 
@media all and (min-width: 1px) and (max-width: 767px) {
  body {
    background: url('/small-bg.jpg') no-repeat center center fixed;
    background-size: cover;
  }
 }

h1 {
  color: red;
}