<% name = "Hi, there"%>

<%- include("partials/head")%>

<body>

    <%- include("partials/navbar")%>


    <h1>Welcome to right side of the darkside</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta fugiat
         laborum ipsa maiores beatae eius incidunt repellendus sunt? Porro 
         voluptatum ducimus consequatur maiores reprehenderit necessitatibus
          esse? Architecto ratione ab accusantium?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo impedit repellat
         veniam accusantium mollitia aliquam rerum harum cupiditate eaque. Enim vero porro labore voluptas.
         Dolor inventore voluptates beatae rem?</p>
</body>
</html>