<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit <%= subreddit%> Not Found</title>
    <h2>CAN'T SHOW YOU THINGS THAT NOT EXIST</h2>
</head>
<body>
    
</body>
</html>