<% name = "Random number"%>

<%- include("partials/head") %>
<body>
    <%- include("partials/navbar")%>



    <%if (rand==0){
        rand="amount of fucks I give"
    }%>
    <p>Your number equals to <%= rand %></p>
    
</body>
</html>