<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tonks</title>
</head>
<body>
    
    <h1>TONKS</h1>

    <ul>LIST OF TONKS
        <%for(let tank of tanks) { %>
        <li><%= tank %></li>
        <% } %>
    </ul>



</body>
</html>